* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: powderblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: teal;
    height: 540px;
}
.footer {
    background: teal;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}
.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;
}
.navbar a {
    float: left;
    color: white;
    padding: 15px;
    font-size: 17px;
    border-radius: 84px;
}
.navbar a:hover {
    background-color: #555;
}
.active {
    background: green;
}
h1, h4 {
    font-family: 'Times New Roman';
}

.container {
    margin: 40px auto;
    margin-bottom: 80px;
}